<script>
  export let datapoints =[];

  import { scaleLinear } from "d3-scale";
  import { extent, max } from "d3-array";
  import { lineRadial } from "d3-shape";

  // Size and margins
  const width = 600;
  const height = 250;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  const radius = 70;

  const angle_scale = scaleLinear().domain([1, 365 + 1]).range([0, 2 * Math.PI]);
  // const radius_scale = scaleLinear().domain(extent(datapoints.map((d)=> d.heating))).range([10,70]);
  // const radius_scale = scaleLinear().domain([0,max(datapoints, (d)=> d.heating + d.cooling)]).range([0,70]);
  const radius_scale = scaleLinear().domain([0,152687.19151117594]).range([0,70]);

  $: console.log(max(datapoints, (d)=> d.heating+d.cooling))
  
  const heating_line = lineRadial()
                .angle((d) => angle_scale(d.day_of_year))
                .radius((d) => radius_scale(d.heating))

  const cooling_line = lineRadial()
                .angle((d) => angle_scale(d.day_of_year))
                .radius((d) => radius_scale(d.cooling))              

  const cities = ["Chicago", "Baltimore", "Los Angeles"];

</script>

<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    <svg viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg">     
    <defs>
      <marker id="triangle" viewBox="0 0 10 10"
            refX="1" refY="5"
            markerUnits="strokeWidth"
            markerWidth="5" markerHeight="5"
            orient="auto">
        <path d="M 0 0 L 10 5 L 0 10 z" fill="black"/>
      </marker>
    </defs>
    <path class =curves d="M -15 25 Q -5 30, 0 40" stroke="black" fill="transparent" marker-end="url(#triangle)"/>
    </svg>
    <text fill="darkred" dx = 5 dy={innerHeight/5}>heating</text>
    <path class=curves stroke="darkred" d="M 100 {innerHeight/2} L 50 {innerHeight/5+5}"/>
    <text fill="darkgreen" dx = 150 dy = {innerHeight - 30}>cooling</text>
    <path class=curves stroke="darkgreen" d="M 100 {innerHeight/2+5} L 170 {innerHeight-50}"/>

    {#each cities as city, city_idx}
    <g transform="translate({city_idx*200+50}, 10)">

      <text> {city} </text>
      <circle cx=50 cy={innerHeight/2} r={radius} fill="none" stroke="black"/>

      <text fill=black dx={radius-20} dy={innerHeight/2-radius-5} class = valueLabel>0</text>
      <text fill=black dx={radius-20} dy={innerHeight/2+radius+15} class = valueLabel>6</text>
      <text fill=black dx={60+radius} dy={innerHeight/2+5} class = valueLabel>3</text>
      <text fill=black dx={40-radius} dy={innerHeight/2+5} class = valueLabel>9</text>

      <text dx = {innerWidth/5} dy={innerHeight/6}> {city_idx == 0? "month":""}</text>

      <line stroke=black x1={50-radius} x2={50+radius} y1={innerHeight/2} y2={innerHeight/2}></line>
      <line stroke=black x1={radius-20} x2={radius-20} y1={innerHeight/2-radius} y2={innerHeight/2+radius}></line>
      <g transform="translate(50,{innerHeight/2})">
        <path d={heating_line(datapoints.filter(d => d.city == city))} fill="none" stroke="darkred"/>
        <path d={cooling_line(datapoints.filter(d => d.city == city))} fill="none" stroke="darkgreen"/>
      </g>
    </g>
    {/each}
    <text dx= 150 dy={innerHeight}>Design 2: Heating and cooling within a year</text>
  </g>
</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
  .valueLabel {
    text-anchor: middle;
    font-size: small;
  }
  .curves {
    stroke-width: 0.7px;
    fill: none;
  }
</style>