<script>

  import { scaleLinear } from "d3-scale";
  import { extent, max } from "d3-array";

  export let datapoints = null;
  export let scale = null;
  let transformed_data = {};
  
  // Size and margins
  const width = 800;
  const height = 1500;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  const blockHeight = innerHeight/17;
  const blockWidth = innerWidth - 50;

  $:console.log(datapoints)
  $:console.log(scale)

  let do_data_transformation = (data) => {
    let transformed_data = {};
    data.forEach((d) => {
      if ( !(d.buildingtype in transformed_data)) {
        transformed_data[d.buildingtype] = []
      }
      transformed_data[d.buildingtype].push(d.total_heating_energy)
    })
    return transformed_data
  }


  $: transformed_data = do_data_transformation(datapoints)
  
  $: console.log(transformed_data)
  $: console.log(max(transformed_data.Hospital))


  $: xScale = scaleLinear().domain([1,744]).range([0, blockWidth - 180])
  $: yScale = scaleLinear().domain(extent(datapoints.map((d)=> d.total_heating_energy))).range([blockHeight-10,0])


  $: console.log(extent(datapoints.map((d)=> d.total_heating_energy)))

  let pathGenerator = (d) => {
    let path = "M 0," + yScale(0);
    let last = 0;
    d.forEach((value, idx) => {
      path += " " + xScale(idx) + "," + yScale(value)
      last = idx
    })
    path += " " +xScale(last) + ',' +yScale(0);
    return path;
  }

  let pathGenerator2 = (d, building_type) => {
    let yScale2 = scaleLinear().domain([0,max(d)]).range([blockHeight-10,0])
    let path = "M 0," + yScale2(0);
    let last = 0;
    d.forEach((value, idx) => {
      path += " " + xScale(idx) + "," + yScale2(value)
      last = idx
    })
    path += " " +xScale(last) + ',' +yScale2(0);
    return path;
  }
  </script>
  
  <svg {width} {height}>
    <g transform="translate({margin.left}, {margin.top})">
      <text dx=0 dy=20>December 1</text>
      <text dx={innerWidth - 300} dy=20>December 31</text>
      {#each Object.keys(transformed_data) as building_type, build_idx}
        <g transform="translate(20, {blockHeight*build_idx+30})">
          <text dx= {innerWidth - 200} dy= {blockHeight-15}>{building_type}</text>
          <path d={scale == "All"? pathGenerator(transformed_data[building_type]):pathGenerator2(transformed_data[building_type])} fill = "black" opacity=0.7/>
        </g>
      {/each}
      <text dx= 200 dy={innerHeight}>Design 1: Energy use over multiple days</text>
    </g>
  </svg>
  
  <style>
    svg {
      border: 1px solid black;
      border-radius: 5px;
    }
  </style>