<script>
  
    export let datapoints = [];

    import { scaleLinear } from "d3-scale";
    import { extent, max } from "d3-array";

    // Size and margins
    const width = 500;
    const height = 600;
    const margin = { top: 10, right: 10, bottom: 10, left: 10 };
    const innerWidth = width - margin.left - margin.right;
    const innerHeight = height - margin.top - margin.bottom;
    const leafLength = 150;
    const leafHeight = 60;


    const xScale = scaleLinear().domain([1, 7*24]).range([0, leafLength]);
    const yScale1 = scaleLinear().domain([0,4694.35158718]).range([leafHeight, 0]);
    const yScale2 = scaleLinear().domain([0,4694.35158718]).range([-leafHeight, 0]);

    $: console.log(yScale1(1000))
    $: console.log(yScale2(1000))
  
    $: console.log(max(datapoints, (d)=> d.total_electrity))
    $: console.log(max(datapoints, (d)=> d.total_gas))

    const weeks = [48, 49, 50, 51, 52]

    let data_lectricity = {}
    $:{
        datapoints.forEach((d) => {
        if ( !(d.week in data_lectricity)) {
            data_lectricity[d.week] = []
        }
        data_lectricity[d.week].push(d.total_electrity)
        })
    }

    let data_gas = {}
    $:{
        datapoints.forEach((d) => {
        if ( !(d.week in data_gas)) {
            data_gas[d.week] = []
        }
        data_gas[d.week].push(d.total_gas)
        })
    }
    $: console.log(data_lectricity[48])

    let pathGenerator_electricity = (d) => {
        let path = "M 0," + yScale1(0);
        let last = 0;
        d.forEach((value, idx) => {
            path += " " + xScale(idx) + "," + yScale1(value);
            last = idx;
        })
        path = path + " " +xScale(last) + ',' +yScale1(0);
        // + "0, " +yScale1(0);
        return path;
    }

    let pathGenerator_gas = (d) => {
        let path = "M 0," + yScale2(0);
        let last = 0;
        d.forEach((value, idx) => {
            path += " " + xScale(idx) + "," + yScale2(value);
            last = idx;
        })
        path = path + " " +xScale(last) + ',' +yScale2(0); 
        // + "0, " +yScale2(2.19002542458);
        return path;
    }

  </script>
  
  <svg {width} {height}>
    <g transform="translate({margin.left}, {margin.top})">
        <line stroke = "black" x1 = {innerWidth/2} x2= {innerWidth/2} y1={innerHeight-50} y2=50></line>
        {#each weeks as week, id}
            <g transform="translate({innerWidth/2-10}, {innerHeight - id*100-100}) rotate({id%2==0? -10:10})" >
                <text class="tex" dx={id%2==0 ? leafLength+20:-leafLength-70} dy=0 >Week {week} </text>
                <line stroke = "black" x1={id%2==0 ? 10:10-leafLength} y1=0 x2={id%2==0 ? leafLength+10:10} y2=0></line>
                <g transform="translate({id%2==0 ? 10:10-leafLength}, -{leafHeight})">
                    <path d={pathGenerator_electricity(data_lectricity[week])} fill="blue" stroke="darkblue"/>
                </g>
                <g transform="translate({id%2==0 ? 10:10-leafLength}, {leafHeight})">
                    <path d={pathGenerator_gas(data_gas[week])} fill="yellow" stroke="darkred"/>
                </g>
            </g>
        {/each}
        <g transform="translate(30, 50)">
        <text class = "cap1" dx= 0 dy=0>Baltimore</text>
        <text class = "cap2" dx= 0 dy=30>December 2014</text>
    </g>
        <text dx= 100 dy={innerHeight}>Design 3: Gas and electricity use as a tree</text>
    </g>
  </svg>
  
  <style>
    svg {
      border: 1px solid black;
      border-radius: 5px;
    }
    .tex {
        font-style: italic;
        font-family: arial;
    }
    .cap1 {
        font-family: cursive;
        font-size: 30px;
    }
    .cap2 {
        font-family: cursive;
        font-size: 25px;
    }
  </style>