<script>
    // Properties
    // const cities = ["Chicago", "Baltimore", "Los Angeles"];
    export let city = "Chicago";
    export let scale = "All";

</script>

<div>
    <h3>Location</h3>
    
    <label>
        <input type=radio bind:group={city} name="city" value="Chicago">
        Chicago
    </label>

    <label>
        <input type=radio bind:group={city} name="city" value="Baltimore">
        Baltimore
    </label>

    <label>
        <input type=radio bind:group={city} name="city" value="Los Angeles">
        Los Angeles
    </label>
    
    <h3>Scale</h3>

    <label>
        <input type=radio bind:group={scale} name="scale" value="All">
        Across All Building Types
    </label>

    <label>
        <input type=radio bind:group={scale} name="scale" value="Widthin">
        Widthin each line
    </label>
</div>
    

