<script>

  import Plot from "./_design_2_plot.svelte"

  import { json } from "d3-fetch";
  import { onMount } from "svelte";

  let datapoints = null;

  onMount(async () => {
    datapoints = await json("/data/daily_heating_cooling.json");
  });

</script>

{#if !datapoints}
  <p>Loading the data, please wait...</p>
{:else}
  <Plot {datapoints}/>
{/if}
