<script>

  import Plot from "./_design_1_plot.svelte"
  import Controls from "./_design_1_control.svelte"

  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  
  let datapoints = null;

  let city = "Chicago";
  let scale = "All";

  $: console.log(scale);
  $: console.log(city);


  // let scales = ["all", "according to building types"];

  onMount(async () => {
    datapoints = await json("/data/hourly_heating_december.json");
  });

</script>

{#if !datapoints}
  <p>Loading the data, please wait...</p>
{:else}
  <div>
    <Controls bind:city={city} bind:scale={scale}/>
    <Plot datapoints = {datapoints.filter(datapoints => datapoints.city == city)} scale={scale}/>
  </div>
{/if}
