<script>

  import Plot from "./_design_3_plot.svelte"

  import { json } from "d3-fetch";
  import { onMount } from "svelte";

  let datapoints = null;

  onMount(async () => {
    datapoints = await json("/data/hourly_electricity_vs_gas_december.json");
    // datapoints = datapoints.filter(d => d.city=="Baltimore")
  });

  $: console.log(datapoints)


</script>

{#if !datapoints}
  <p>Loading the data, please wait...</p>
{:else}
  <Plot {datapoints}/>
{/if}
