<script>
  let current = "";
</script>

<p class:button_active={current}/>

<button class:selected="{current === 'messi'}" on:click={() => (current = "messi")}>
  Messi
</button>

<button class:selected="{current === 'ronaldo'}" on:click={() => (current = "ronaldo")}>
  Ronaldo
</button>

<button class:selected="{current === 'neymar'}" on:click={() => (current = "neymar")}>
  Neymar
</button>

<style>
	.selected {
		background-color: #00bfff;
		color: white;
    border: 1px solid #555555;
    border-radius: 2px;
	}
</style>


