<style>
    p{
        color:steelblue;
        font-family: 'Times New Roman';
        font-size:x-large;
    }
    span{
        color:aqua;
    }
</style>
<p>I <span>really</span> like data visualisation!</p>
