<script>
    const person = {name: "Anh"};
    const fav = ['icecream', 'raindrop songs', 'KU Leuven library']
</script>

<p>My name is {person.name} and these are some of my favourite things: {fav}. </p>
