<script>
  // Properties
  export let data = [];
  const continents = ["europe", "asia", "americas", "africa"];

  export let year = 0;
  export let continent = "all";

  let call_name = "Start"

  function handleClick(event) { 
    if (running == false) {
      running=true
      interval = setInterval(() => {
        year = year + 1
        if (year >= 215) {year = 0} 
          }, 100)
      call_name = "Stop"
    }
    else {
      running=false
      clearInterval(interval)
      call_name = "Start"
    }
}

  function handleReset(event) {
    if (running == true){
      call_name = "Start"
      running=false
      clearInterval(interval)
      
    }
    year = 0
}

  let running = false;
  let interval = null;

</script>

<div class="row">
  <button class="btn btn-primary col-2" on:click="{handleClick}">
    {call_name}
  </button>

  <button class="btn btn-danger col-2" on:click="{handleReset}">
    Reset
  </button>

  <label for ="my-slider" class ="col-3"> Year {year+1800}
  <input type="range" id="my-slider" min="0" max="214" bind:value={year} />
</label>

<div class = 'col-4'>
<label for="continent-select">Choose a continent:</label>
<select id="continent-select" bind:value={continent}>
    <option value="all">all</option>
    {#each continents as continent}
      <option value={continent}>{continent}</option>
    {/each}
</select>
</div>

</div>
