<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";

  import Controls from "./_ex_3_controls.svelte";
  import Scatterplot from "./_ex_3_scatterplot.svelte";

  // Load the data
  let data = null;
  let year = 0;
  let continent = "all";

  onMount(async () => {
    data = await json("/data/gapminder.json");
  });

  function filter_country(data, continent){
    console.log(data)
    console.log(continent)
    if (continent != "all"){
      return data.filter(country => country.continent == continent)
    }
    return data 
  }
</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <div>
    <Scatterplot data={filter_country(data[year]['countries'], continent)} />
    <Controls bind:year={year} bind:continent={continent} {data}/>
  </div>
{/if}
