<script>
  import { extent } from "d3-array";
  import { scaleLinear } from 'd3-scale';
  import { scaleOrdinal } from 'd3-scale';
  import {axisBottom} from 'd3-axis';
  import {axisLeft} from 'd3-axis';
  import { schemeDark2 } from 'd3-scale-chromatic';
  import { select } from 'd3-selection';

  export let data;

  const [height, width] = [400, 600];
  const margin = { top: 50, right: 5, bottom: 55, left: 50 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  const scaleX = scaleLinear().domain([0,5000]).range([0,innerWidth])
  const scaleY = scaleLinear().domain([0,60]).range([innerHeight, 0])
  const scalerad= scaleLinear().domain([0,1500000000]).range([5,10])
  const scaleColour = scaleOrdinal(schemeDark2).domain(['asia','europe', 'americas','africa'])

  function printxAxis(element){
    const xAxis = axisBottom(scaleX);
		xAxis(select(element));
	};

  function printyAxis(element){
    const yAxis = axisLeft(scaleY);
		yAxis(select(element));
	};
</script>

<svg viewBox="0 0 {width} {height}" style="max-width: {width}px">
  <text fill=black dx=250 dy=20 class=valuelabel>Gapminder Scatterplot</text>
  <text fill=gray dx=550 dy=320 class=year>1800</text>
  <g transform="translate({margin.left}, {margin.top})">
    {#each data as value}
      <!-- {#if {value.life_exp} != null }  -->
      <circle cx={scaleX(+value.income)}
              cy={scaleY(+value.life_exp)}
              r={scalerad(+value.population)}
              style={"fill:" + scaleColour(value.continent)}/>
              <!-- {/if}  -->
    {/each}

    <g use:printxAxis transform = "translate(0 ,{innerHeight})">
      <text fill=black dx=300 dy=30>GDP per capital</text>
    </g>

    <g use:printyAxis transform = "translate(0,0)">
      <text fill=black dx=0 dy=150 transform="rotate(270, -30 ,150)">Life Expectationy</text>

  	</g>
  </g>
</svg>


<style>
  .valuelabel {
    text-anchor: middle;
    font-size:larger;
  }
  .year{
    font-size:larger;
    color:gray;
  }
</style>




