<script>
  import { scaleLog } from 'd3-scale';
  import { axisBottom } from 'd3-axis';
  import { select } from 'd3-selection';

  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 30, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [2, 4, 6, 7, 9];

  const scale = scaleLog().domain([1,10]).range([15,790]);

  

  function printxAxis(element){
    const xAxis = axisBottom(scale);
		xAxis(select(element));
	};

</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate(0,{margin.top})">
    {#each values as value}
    <circle cx={scale(value)} cy="45%" r=10 fill="steelblue"/>
    {/each}
  	<g use:printxAxis transform = "translate(0,{innerHeight})">
      <text fill=black dx=400 dy=25>x-label</text>
  	</g>
	</g>
</svg>




