<script>
  import { scaleLinear } from 'd3-scale';
  import { scaleOrdinal } from 'd3-scale';
  import { schemeDark2 } from 'd3-scale-chromatic';

  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 20, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [
    { x: 2, y: 1, category: "cat1" },
    { x: 4, y: 2, category: "cat3" },
    { x: 6, y: 1, category: "cat2" },
    { x: 7, y: 3, category: "cat3" },
    { x: 9, y: 1, category: "cat2" }
  ];

  const scaleX = scaleLinear().domain([0,10]).range([0,innerWidth])
  const scaleY = scaleLinear().domain([0,3]).range([innerHeight,0])
  const scaleColour = scaleOrdinal(schemeDark2).domain(["cat1", "cat2", "cat3"])
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each values as value}
      <circle cx={scaleX(value.x)}
              cy={scaleY(value.y)}
              r=5
              style={"fill:" + scaleColour(value.category)}/>
      <text fill=black dx={scaleX(value.x)} dy={scaleY(value.y)-10} class =valueLabel>{value.y}</text>
      <line stroke=black x1={scaleX(value.x)} x2={scaleX(value.x)} y1={innerHeight} y2={scaleY(value.y)+5}></line>
    {/each}
    <line stroke=black x1="0" x2={innerWidth} y1={innerHeight} y2={innerHeight}></line>
  </g>
</svg>

<style>
  .valueLabel {
    text-anchor: middle;
    font-size: small;
  }
</style>
