<script>
  import { scaleLinear } from 'd3-scale';
  import { scaleBand } from 'd3-scale';
	import { axisBottom } from 'd3-axis';
	import { axisLeft } from 'd3-axis';
  import { select } from 'd3-selection';

  // Dimensions
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 30, left: 60 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const data = [
    { service: "Netflix", viewers: 2.9 },
    { service: "Amazon Prime Video", viewers: 1.3 },
    { service: "Disney+", viewers: 2.1 },
    { service: "Hulu", viewers: 0.9 },
    { service: "Apple TV", viewers: 1.1 },
    { service: "Rakuten", viewers: 0.4 }
  ];

  const scaleY = scaleLinear().domain([0,3]).range([0, innerHeight])
  const scaleX = scaleBand().domain(["Netflix", "Amazon Prime Video", "Disney+", "Hulu", "Apple TV", "Rakuten"]).range([0,500]).padding(0.1)

  function printxAxis(element){
    const xAxis = axisBottom(scaleX);
		xAxis(select(element));
	};

  function printyAxis(element){
    const yAxis = axisLeft(scaleY);
		yAxis(select(element));
	};

</script>

<!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
<svg viewbox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform={`translate(${margin.left},${margin.top})`}>
    {#each data as point}
      <rect x={scaleX(point.service)}
  					y={innerHeight-scaleY(point.viewers)}
            width={scaleX.bandwidth()}
            height={scaleY(point.viewers)}
            fill=steelblue>
      </rect>
      
    {/each}
    
    <g use:printxAxis transform = "translate(0 ,{innerHeight})">
    </g>

    <g use:printyAxis transform = "translate(0,0)">
      <text fill=black dx=50 dy={innerHeight/2} transform="rotate(270, -10 ,150)">Viewers (Millions)</text>
  	</g>
  </g>
</svg>
