<script>
    import { onMount } from 'svelte';
    import { json } from 'd3-fetch';
    import Scatterplot from './_ex_7_scatterplot.svelte'

    let data = null;
    onMount(async () => {
        data = await json('/data/gapminder.json');
        data = data[0].countries;
    }); 
    $: console.log(data);    
</script>

{#if data != null}
<Scatterplot data={data}/>
{:else}
<p>Data is loading...</p>
{/if}
